*, *::after, *::before{
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.primary-color{
    color: $primary-color;
}
// goTop
.goTop-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: $primary-color;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
// bar
.social-link{
    background-color: $lightgrey;
    ul{
        float: right;
    }
    li, img, span{
        float: left;
    }
    li:nth-child(1){
        a{
            padding-right: 0;
        }
    }
    img{
        margin-right: 5px;
    }
    a{
        padding: 15px 10px;
        &:hover{
            span{
                color: #000000;
            }
        }
    }
}
.fb-social-link{
    color: #4863a3;
    span{
        border-right: 1px solid #000000;
        padding-right: 10px;
    }
}
.tw-social-link{
    color: #02abdb;
}
// menu
.topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topMenu-link{
    display: flex;
    a{
        color: $primary-color;
        padding: 20px 20px 15px 20px;
        border-bottom: 5px solid transparent;
        text-align: center;
        transition: all .2s;
        &:hover{
            border-bottom: 5px solid $primary-color;
        }
    }
    .active{
        border-bottom: 5px solid $primary-color;
    }
    li{
        position: relative;
    }
    span{
        margin-right: 2px;
    }
    .subMenu{
        position: absolute;
        background-color: #fff;
        z-index: 10;
        border-radius: 10px;
        padding: 5px 0;
        margin-top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        a{
            padding: 10px;
            border-bottom: 0;
            &:hover{
                background: #f1f1f1;
            }
        }
    }
}
.logo{
    a{
        background-image: url('../images/logo.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        white-space: nowrap;
        text-indent: 101%;
        overflow: hidden;
        width: 224px;
        height: 50px;
    }
}
.banner{
    position: relative;
    height: 350px;
    margin-bottom: 70px;
    img{
        width: 100%;
        object-fit: contain;
    }
    .swiper-button-prev, .swiper-button-next{
        color: #ffffff;
    }
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #ffff;
    background-color: rgba(0,0,0,0.5);
    p{
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 30px 70px;
    }
}
// 課程
.course{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.course-item{
    width: 31%;
    box-shadow: 0px 2px 5px rgb(192,192, 192);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px 30px;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
    &:nth-child(2){
        img{
            margin-top: 20px;
        }
    }
    &:hover{
        transform: translate(-3px, -3px);
    }
    a{
        color: #000000;
    }
    h3{
        text-align: center;
        font-size: 1.5rem;
        margin: 20px 0 15px;
    }
    p{
        line-height: 1.4rem;
    }
}
// table
.compare-table{
    margin-bottom: 80px;
    h3{
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    table{
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        text-align: center;
    }
    td,th{
        border: 1px solid #dddddd;
        border-right: 0;
        border-left: 0;
        padding: 18px;
    }
    th{
        background-color: #f1f1f1;
    }
    tr:hover{
        background-color: #f6f6f6;
    }
}
// indexQA
.indexQA{
    margin-bottom: 80px;
    h3{
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    ul{
        width: 90%;
        margin: 0 auto;
    }
    i{
        margin-right: 20px;
    }
    h4, p{
        padding: 20px;
        font-weight: bold;
        font-size: 1.3rem;
    }
    h4{
        background-color: #ebebeb;
        cursor: pointer;
    }
    p{
        line-height: 1.8rem;
        color: #7a8292;
        display: none;
    }
}
// 聯絡我們
.contactUs{
    background: url('../images/bg.png');
    background-repeat: repeat-x;
    color: #fff;
    padding: 40px;
    h3{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 40px;
    }
    form{
        display: flex;
        justify-content: space-around;
    }
    textarea{
        width: 45%;
        // textarea 預設可以被用戶縮放，所以清除
        resize: none;
        border-radius: 5px;
    }
}
.contactUs-customerInfo{
    display: flex;
    flex-direction: column;
    width: 45%;
    label{
        display: block;
        margin-bottom: 5px;
    }
    input[type=text], input[type=phone], input[type=email]{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 3px;
        padding: 8px;
        border: none;
    }
    input[type=submit]{
        align-self: flex-end;
        background-color: $primary-color;
        color: #fff;
        padding: 8px 20px;
        border: none;
        border-radius: 3px;
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    display: block;
    width: 201px;
    height: 73px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background:url('../images/logoBottom.png');
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
}
.footer-contact{
    li{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    p{
        margin-right: 10px;
    }
    a{
        color: #f383b2;
    }
}